
ul{
    list-style: none;
}
h4{
    text-align: center;
    font-weight: bold;
    font-size: 22px;
    font-family: Arial, Helvetica, sans-serif;
}
img{
    max-width: 100%;height: auto;
    display: block;
}
.headding{
    background-color: #a2d84c;
}
.headding h4{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 18px;
    font-weight: bold;
    font-style: italic;
    padding: 2px 0;
}
nav{
    background-color: rgba(236, 255, 196, 0.675);
    margin-top: -0.6%;
}
.head-item{
    display: flex; 
    margin-right: 12%;
}
.items ul{
    display: flex;
}
.items ul li {
    list-style: none;
}
.items ul li a{
   text-decoration: none;
   padding: 0 3px; margin-right: 190%;
}
.items ul li i{
    color: black;
    background-color: #a2d84c;
    border: 1px solid #a2d84c;
    padding: 5px 6px;
    border-radius: 50px;
    font-size: 12px;  
}
.navbar-brand{
    display: none !important;
}
.menu ul{
    display: flex;
} 
#navbarSupportedContent ul li a{
   font-size: 14px !important;
   color: black;
   font-weight: 500;
}
.carousel-indicators button{
    width: 15px !important;height: 15px !important;
    border-radius: 50% !important;background-color: #a2d84c !important;
}
.departments{
    margin-top: 1% !important;
    width: 92%;height: auto;
    border-top: 2px solid #a2d84c;
    border-bottom: 2px solid #a2d84c;
    margin: auto;
}
.fasion{
    margin-bottom: 1%;
}
.dep-item{
    display: flex;
    justify-content: space-around;
    margin-bottom: 12%;
}
.dep{
    background-color: #a2d84c;
    width: 10%;
    border-radius: 12px;
    margin-bottom: 2%;
}
.dep a{
    text-decoration: none;
    color: black;
    text-align: center;
    font-weight: 500;  
    margin-left: -2px;
}
.dep i{
    background-color: white;
    padding: 12px 12px;
    border-radius: 10px; color: black;
    box-shadow: 10px 10px 40px rgb(58, 58, 58);
}
.dep-items{
    background-color: #a2d84c;
    width: 150px;
    border-radius: 13px;
    margin-bottom: 2%;
}
.dep-items a{
    text-decoration: none;
    color: black;
    text-align: center;
    font-weight: 500;  
}
.dep-content h3{
    margin-top: 1%;
    text-align: center;
    margin-bottom: 2%;
}
.dep-items i{
   background-color: white;
   padding: 12px 12px;
   border-radius: 10px; color: black;
   box-shadow: 10px 10px 40px rgb(58, 58, 58);
}
.dep-content span{
    color: #a2d84c;
}
.images{
    margin-top: 2% !important;
}
.images img{
    margin-top: 2x;
    margin: auto;  
}
.images .img-1 img {
 width: 650px;
 border: 1px solid #a2d84c;
 box-shadow: 3px 4px 12px black;
 margin-bottom: 2%;
} 
.images .img-2 img{
    width: 600px !important;
    margin-right: 40% !important;
} 
.images-1{
    display: flex;
} 
.images-1 .img-1 img {
    width: 590px;
    border: 1px solid #a2d84c;
    box-shadow: 3px 4px 12px black;
    margin-bottom: 3%;

   } 
   .images-1 .img-2 img{
       width: 600px;
       height: auto !important;
       margin-left: 4%;

   } 
.img-text{
    margin-top: 5px;
    text-align: center;
}.btn{
    background-color: #a2d84c !important;
    border-radius: 40px !important;
    font-weight: bold !important;font-size: 13px !important;
    text-transform: uppercase !important;
    justify-content: space-between;
}

.kitchen{
    margin-top: 4px;
    text-align: center;
}
.kitchen h3{
    margin-top: 1%;
    font-size: 22px;font-weight: 700;
}
.kitchen-1{
    display: flex;
    justify-content: space-between;
    margin-top: 2%;
}
.kitchen-2 {
    width: 620px;height: auto;
    margin-left: -5px;
}
.kitchen-3 {
    width: 627px;max-height: 376px !important;
}
.tranding-items h4{
    margin: 1%;
    text-align: center;
    font-weight: bold;
    font-size: 22px;
}
.tranding-item{
   display: flex;
   justify-content: space-around;
   padding: 15px 15px;
}
.tranding-img img{
    border: 1px solid #a2d84c;
    border-radius: 15px;
    width: 250px;height: auto;
}

.easy-way{
    margin-top: 2%;
}
.easy-way h4{
    text-align: center;
    font-weight: bold;
    font-size: 22px;
}
.easy-item{
    display: flex;
    justify-content: space-around;
    margin-top: 3%;
}
.easy-item h6{
    margin-top: 20px;
    font-size: 13px;font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;
}
.easy-item p{
    margin-top: 20px;
    font-size: 10px;font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;
}
.easy-item img{
    width: 250px;height: auto;
}
.sponsored-shop h4{
    width: 82%;
    margin: auto;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    font-size: 28px;
    border-top: 1px solid #a2d84c;
    border-bottom: 1px solid #a2d84c;
    margin-bottom: 2%;
}
.sponsored{
    display: flex;
    justify-content: space-around;
    margin-top: 2%; 
}
.sponsored img{
    box-shadow: 5px 5px 20px black;
    width: 250px;height: auto;

}
footer{
    width: 100%;height: auto;
    background-color: #d0f6db;
    margin-top: 10%;
    padding: 25px;
    
}
.footer-logo img{
    margin-left: 15%;
}
.footer-contact ul{
    display: inline-flex;margin-top: 2%;
}
.footer-contact ul li {
    list-style: none;
}
.footer-contact ul li a{
    padding: 2px 7px;
    color: #a2d84c;
}
.footer-other a{
    text-decoration: none;
    color: black;
    font-size: 15px;
}
.footer-mail h6{
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
}
.footer-mail p{
    font-size: 14px;
    font-family: Arial, Helvetica, sans-serif;
}
.footer-mail input{
    text-align: left;
    background-color: #a2d84c;
    width: 100%;
    font-weight: 500;

}
.footer-mail button{
    margin-top: 2%;
    background-color: #a2d84c;
   font-weight: 500;
    padding: 0 18px;
}

/**********************************************Responsive Desing*********************************************/

@media only screen and (min-width:200px) and (max-width:1235px){
    .search-bar input {
        width: 80%;
    }
    #navbarSupportedContent ul li a{
        font-size: 11px !important;
    }
}
@media only screen and (min-width:200px) and (max-width:991px){
    h4,h3{
        font-size: 18px !important;
    }
    .logo{
        position: absolute;
        z-index: 1;
        left: 43%;top: 7%;  
    }
    .search-bar{
        margin-top: 2%;
        position: absolute;
        left: 25%;top: 10%;
        width: 60%;

    }
    .items{
        margin-top: 1%;
        position: absolute;
        left: 37%;top: 20%
    }
    .navbar-brand{
        display: block !important;
       }
       #navbarSupportedContent ul li a{
        font-size: 12px !important;
    }
    .carousel-indicators button{
        width: 10px !important;height: 10px !important;
    }
    .dep-item{
        margin-bottom:0%;
    }
   .images .img-1 img{
    width: 1000px !important;
   }
   .images .img-2 img{
    width: 1000px !important;
   }
   .images-1 .img-1 img{
    width: 1000px !important;
   }
   .images-1 .img-2 img{
    width: 1000px !important;
   }
   .kitchen-1 img{
    width: 1000px !important;
   }
   .kitchen-1 .kitchen-3{
    width: 1000px !important;
   }
   .tranding-img img{
    width: 200px;height: auto;

   }
   .easy-item img{
    width: 200px;height: auto;
   }
   .sponsored img{
    width: 200px;height: auto;
    }
    .footer-logo img{
        margin-left: 0;
    }
    .footer-mail input{
        max-width: 50%;
    }
    .footer-logo img{
        width: 150px;
    }
    .footer-contact {
        margin-top: 2%;
        margin-left: -2%;
    }
}
@media only screen and (min-width:200px) and (max-width:775px){
    .logo{
        position: absolute;
        z-index: 1;
        left: 42%;top: 7%;
        
    }
    .items{
        margin-top: 1%;
        position: absolute;
        left: 35%;top: 20%
    }
}

@media only screen and (min-width:200px) and (max-width:675px){
    .logo{
        position: absolute;
        z-index: 1;
        left: 41%;top: 7%;
    }
    .items{
        margin-top: 1%;
        position: absolute;
        left: 33%;top: 20%
    }
}
@media only screen and (min-width:200px) and (max-width:575px){
    .logo{
        position: absolute;
        z-index: 1;
        left: 40%;top: 7%;
    }
    .items{
        margin-top: 1%;
        position: absolute;
        left: 30%;top: 20%
    }
}
 @media only screen and (min-width:200px) and (max-width:414px){

    .logo{
        position: absolute;
        z-index: 1;
        left: 38%;top: 3%;
    }
    .items{
        margin-top: 1%;
        position: absolute;
        left: 26%;top: 18% !important;
    }
    .search-bar{
        position: absolute;
        left: 25%;top: 10%; 
    }
} 
@media only screen and (min-width:200px) and (max-width:400px){
    .logo{
        position: absolute;
        z-index: 1;
        left: 38%;top: 3%;
    }
    .items{
        margin-top: 1%;
        position: absolute;
        left: 26%;top: 18% !important;
    }
    .search-bar{
        position: absolute;
        left: 25%;top: 10%; 
    }
} 
@media only screen and (min-width:200px) and (max-width:410px){
    .logo{
        position: absolute;
        z-index: 1;
        left: 38%;top: 3%;
    }
    .items{
        margin-top: 1%;
        position: absolute;
        left: 26%;top: 18% !important;
    }
    .search-bar{
        position: absolute;
        left: 25%;top: 10%; 
    }
} 
@media only screen and (min-width:200px) and (max-width:480px){
    h4,h3{
        font-size: 14px !important;
    }
    .container{
        margin-top: 25% !important;
    }
    .logo{
        position: absolute;
        z-index: 1;
        left: 38%;top: 5%;
    }
    .items{
        margin-top: 1%;
        position: absolute;
        left: 26%;top: 20%
    }

    .tranding-img img{
    width: 150px;height: auto;

   }
   .easy-item img{
    width: 150px;height: auto;
   }
   .sponsored img{
    width: 150px;height: auto;
    }

}
@media only screen and (min-width:200px) and (max-width:375px){
    .logo{
        position: absolute;
        z-index: 1;
        left: 38%;top: 5%;
    }
    .items{
        margin-top: 1%;
        position: absolute;
        left: 24%;top: 18% !important;
    }
    .footer-logo img{
        width: 100px;
    }
}
@media only screen and (min-width:200px) and (max-width:345px){
    .items{
        margin-top: 1%;
        position: absolute;
        left: 18% !important;top: 24% !important;
    }
 
} 
@media only screen and (min-width:200px) and (max-width:365px){
    .items{
        display: none !important;
    }
  
}
